<div class="fixed-top">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="row bar-nav">
        <div class="col-md-3">
          <a routerLink="" class="navbar-brand logo">
            <img src="/assets/logo.png" />
          </a>
        </div>
        <div class="col-md-6 search">
          <input type="text" class="form-control" placeholder="Pesquise por ofertas..." #searchValue (keyup)="search(searchValue.value)">
          <ul class="list-group">
            <li class="list-group-item disabled" *ngFor="let item of result | async">
              <a [routerLink]="['/oferta', item.id]" (click)="cleanSearch()">{{item.titulo | shortDescription:15}}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 cart">
          <a a href="#">
            <img src="/assets/carrinho.png" />
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/restaurantes">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/diversao">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img class="img-fluid" src="/assets/banners/img_1.jpg" />
</div>