.ordem-compra{
    padding: 5% 0 8% 0;
}

@media only screen and (max-width: 600px){
    .container{
        margin: 10% 3%
    }
    h4{
        margin-right: 5%
    }
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

select.ng-invalid.ng-touched{
    border: 1px solid red;
}

input.ng-valid.ng-touched{
    border: 1px solid green;
}

select.ng-valid.ng-touched{
    border: 1px solid green;
}

